# Настройка БД
# Имя пользователя
DB_USER=you_username
# Пароль пользователя
DB_PASSWORD=you_password
# Имя хоста базы данных
DB_HOST=db
# Порт базы данных
DB_PORT=5432
# Имя базы данных
DB_NAME=you_database_name
